.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  text-decoration: none;
  color:black !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
}
li {
  color: black;
  list-style: none;
  display: inline-block;
  margin-top:5px;
  margin-bottom: -15px;
  border-radius: 10px 0px 0px 0px;
}


header {
  background-color: grey;
}
main {
  margin: auto;
  text-align: center;
}
.jumbo {
  background-image: url(./assets/50n9ne.jpg);
  background-size: stretch;
  background-position: center;
  min-height: 300px;
  margin: auto;
  margin: -15px 10px 10px 10px;
  color: white;
}
h1 {
  padding-top: 130px;
}

.tab-active {
  background-color: orchid;
  color: white !important;
  list-style: none;
  display: inline-block;
  margin-top:5px;
  padding: 10px 10px 0px 10px;
  margin-bottom: -15px;
  border-radius: 10px 0px 0px 0px;
 
}


.tab-inactive {
  background-color: white;
  color: black;
  list-style: none;
  display: inline-block;
  margin-top:5px;
  padding: 10px 10px 0px 10px;
  margin-bottom: -15px;
  border-radius: 10px 0px 0px 0px;
}

.tab-active2 {
  background-color: orangered !important;
  color: white !important;
  list-style: none;
  display: inline-block;
  margin-top:5px;
  padding: 10px 10px 0px 10px;
  margin-bottom: -15px;
  border-radius: 10px 0px 0px 0px;
}
h2 {
  margin: auto;
  background-color: grey;
  padding: 10px;
  color: white;
  display: inline-block;
}
.taskDiv {
  width: 90%;
  margin: auto;
}
.slider {
  width: 100%;
}
form {
  display: inline-block;
  box-sizing: border-box;
  width: 20%;
  padding: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
}
input {
  width: 90%;
}

.taskItem {
  display: block;
  box-sizing: border-box;
  padding: 15px;
  font-size: large;
  
  background-color: rgba(0,255,0,0.8);
  margin: auto;
  border-radius: 0px;
  width: 80%;
}
section {
  box-sizing: border-box;
  width: 80%;
  float: right;
  border-radius: 25px;
}
ul {
  border-radius: 25px;
}
.incompleteTaskItem {
  display: block;
  box-sizing: border-box;
  padding: 10px;
  font-size: large;
  
  background-color: rgba(255,0,0,0.8);
  margin: auto;
  border-radius: 0px;
  width: 80%;
}
.login {
  display: inline;
  border: none;
}
.taskBar {
  background-color: grey;
  color: white;
  border-radius: 5px;
  margin-bottom: 15px;
  text-align: center;
}
.Card {
  text-align: center;
}








